

<div class="setting_header">
	<div class="container-fluid height-max">
		<div class="row height-max">
			<!-- <div class="col-xs-2 height-max">
				<div class="layout_table" ng-if="routeParam!='first'">
					<div class="layout_table-cell_vertical-middle">
						<button class="btn btn-default" ng-click="goBack()"><span class="glyphicon glyphicon-chevron-left"></span>&nbspBack</button>
					</div>
				</div>
			</div> -->
			<div class="col-xs-12 col-sm-offset-2 col-sm-8 height-max">
				<div class="layout_table">
					<div class="layout_table-cell_vertical-middle">
						<!-- <h4 class="text-align-center">Start</h4> -->
						<ul class="nav nav-pills nav-justified-custom">
							<li role="presentation"><a ng-href="#/main/{{routeLeft}}/start-public-chat"><span class="glyphicon glyphicon-globe"></span>&nbspPublic</a></li>
							<li role="presentation"><a ng-href="#/main/{{routeLeft}}/start-personal-chat"><span class="glyphicon glyphicon-user"></span>&nbspPersonal</a></li>
							<li role="presentation" class="active"><a><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span>&nbspGroup</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- <div class="col-xs-3"></div> -->
		</div>
	</div>
</div>
<div class="setting_content">
	
</div>