//
   Created by talsu on 13. 12. 23.

////extends layout
////
////block content
////  h1= title
////  p Welcome to #{title}
//
doctype html
html(lang='en')
head
    meta(charset='utf-8')
    title BongTalk - channel : #{channel}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    //link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/bootstrap/css/bootstrap.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
    //
       HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='js/html5shiv.js')
    //
       Fav and touch icons
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='img/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='img/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='img/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='img/apple-touch-icon-57-precomposed.png')
    script(src='http://code.jquery.com/jquery.js')
    script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/bongtalk-client.js')
    script var channel = '#{channel}';
    script(src='/javascripts/frontend.js')
    body
        .container
            .row.clearfix
                .col-md-12.column
                    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
                        .navbar-header
                            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                                span.sr-only Toggle navigation
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            #header.navbar-brand
                        #bs-example-navbar-collapse-1.collapse.navbar-collapse
                            ul.nav.navbar-nav.navbar-right
                                li
                                    a#openChangeNamePopup(href='#changeNameModal', data-toggle='modal') Change name
                                li
                                    a#openLeaveChannelPopup(href='#leaveChannelModal', data-toggle='modal') Leave
                                //li.dropdown
                                //    a.dropdown-toggle(href='#', data-toggle='dropdown') setting
                                //        strong.caret
                                //    ul.dropdown-menu
                                //        li
                                //            a(href='#') Action
                                //        li
                                //            a(href='#') Another action
                                //        li
                                //            a(href='#') Something else here
                                //        li.divider
                                //        li
                                //            a(href='#') Separated link
                    nav.navbar.navbar-default.navbar-fixed-bottom(role='navigation')
                        .input-group
                            input#inputMessage.form-control(type='text')
                            span.input-group-btn
                                button#sendButton.btn.btn-default(type='button') Send
                    #changeNameModal.modal.fade(role='dialog', aria-labelledby='changeNameModalLabel', aria-hidden='true')
                        .modal-dialog
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                                    h4#changeNameModalLabel.modal-title What is your new name?
                                .modal-body
                                    input#changeNameInput.form-control(type='text')
                                .modal-footer
                                    //button#useSavedNameButton.btn.btn-default(type='button', data-dismiss='modal') Use saved name
                                    button#saveChangeNameButton.btn.btn-primary(type='button', data-dismiss='modal') Save changes
                    #loginModal.modal.fade(role='dialog', aria-labelledby='loginModalLabel', aria-hidden='true', data-backdrop='static')
                        .modal-dialog
                            .modal-content
                                .modal-header
                                    h4#loginModalLabel.modal-title What is your name?
                                .modal-body
                                    input#loginNameInput.form-control(type='text')
                                .modal-footer
                                    button#loginSavedNameButton.btn.btn-default(type='button', data-dismiss='modal') Use saved name
                                    button#loginNewNameButton.btn.btn-primary(type='button', data-dismiss='modal') Log in
                    #leaveChannelModal.modal.fade(role='dialog', aria-labelledby='leaveChannelModalLabel', aria-hidden='true')
                        .modal-dialog
                            .modal-content
                                .modal-header
                                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                                    h4#leaveChannelModalLabel.modal-title Leave this chat?
                                .modal-body
                                    p Log out this session.
                                .modal-footer
                                    button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                                    button#leaveChannelModalButton.btn.btn-primary(type='button', data-dismiss='modal') Leave
                    #chatMessages