

<div class="setting_header">
	<div class="container-fluid height-max">
		<div class="row height-max">
			<div class="col-xs-2 height-max visible-xs-block">
				<div class="layout_table" ng-if="routeParam!='first'">
					<div class="layout_table-cell_vertical-middle">
						<a class="visible-xs-block" ng-href="#/main/{{routeLeft}}"><span class="glyphicon glyphicon-chevron-left"></span></a>
					</div>
				</div>
			</div>
			<div class="col-xs-10 col-sm-offset-2 col-sm-8 height-max">
				<div class="layout_table">
					<div class="layout_table-cell_vertical-middle">
						<!-- Desktop -->
						<ul class="nav nav-pills nav-justified-custom hidden-xs">
							<li role="presentation" class="active"><a><span class="glyphicon glyphicon-globe"></span>&nbspPublic</a></li>
							<li role="presentation"><a ng-href="#/main/{{routeLeft}}/start-personal-chat"><span class="glyphicon glyphicon-user"></span>&nbspPersonal</a></li>
							<li role="presentation"><a ng-href="#/main/{{routeLeft}}/start-group-chat"><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span>&nbspGroup</a></li>
						</ul>
						<!-- Mobile -->
						<ul class="nav nav-pills nav-justified-custom visible-xs-block">
							<li role="presentation" class="active"><a><span class="glyphicon glyphicon-globe"></span></a></li>
							<li role="presentation"><a ng-href="#/main/{{routeLeft}}/start-personal-chat"><span class="glyphicon glyphicon-user"></span></a></li>
							<li role="presentation"><a ng-href="#/main/{{routeLeft}}/start-group-chat"><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="setting_content">
	<div class="container-fluid margin-top-15">
		<div class="row">
			<div class="col-xs-12 col-sm-offset-2 col-sm-8">
				<h4>Create public chat</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-offset-2 col-sm-8">

				<div ng-class="['has-feedback', 'input-group', {success:'has-success', warning:'has-warning', error:'has-error'}[createChatNameValidationStatus]]">

					<input type="text" class="form-control input-lg" placeholder="Enter chat name" ng-model="session.name" ng-change="createChatNameChanged()" focus-on="init" on-enter="createChat()" required>
						<span ng-if="createChatNameValidationStatus" ng-class="['glyphicon', 'form-control-feedback', {success:' glyphicon-ok', warning:'glyphicon-warning-sign', error:'glyphicon-remove'}[createChatNameValidationStatus]]" aria-hidden="true"></span>
					<span class="input-group-btn">
						<button class="btn btn-success btn-lg pull-right" type="button" ng-click="createChat()" ng-disabled="createChatNameValidationStatus!='success'">Create</button>
					</span>
				</div>
			</div>
		</div>
		<div class="row margin-top-10">
			<div class="col-xs-9 col-sm-offset-2 col-sm-7">
				<div ng-class="{success:'has-success', warning:'has-warning', error:'has-error'}[createChatNameValidationStatus]">
					<label class="control-label">{{createChatNameValidationComment}}</label>
				</div>

			</div>
			<!-- <div class="col-xs-3 col-sm-1">
				<button class="btn btn-success btn-lg pull-right" type="button" ng-click="setUsername()" ng-disabled="userNameValidationStatus!='success'">Change</button>
			</div> -->
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-offset-2 col-sm-8">
				<h4 ng-if="publicSessions.length">Join chat</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-offset-2 col-sm-8">
				<div class="list-group">
					<a href="#/main/{{routeLeft}}/session/{{session._id}}" ng-class="['list-group-item']" ng-repeat="session in publicSessions | orderBy: '-creationTime'">
						<div></div>
						<div class="row">
							<div class="col-xs-6">
								<h4 class="list-group-item-heading">{{session.name}}</h4>
							</div>
							<div class="col-xs-6">
								<p class="list-group-item-text pull-right">
									<span class="glyphicon glyphicon-user"></span>&nbsp
									<span class="label label-success">{{session.users.length}}</span>
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<small class="list-group-item-text pull-right">Create at {{session.creationTime | date:'medium'}}</small>
							</div>
							<!-- <div class="col-xs-6">
								<p class="list-group-item-text pull-right">
									<span class="glyphicon glyphicon-user"></span>&nbsp
									<span class="label label-success">{{session.users.length}}</span>
								</p>
							</div> -->
						</div>

					</a>
				</div>
			</div>
		</div>
		<div class="row margin-top-15">

		</div>
	</div>
</div>
