
.page_wrap { width:100%; height:100%; min-width:400px; }


/* layout */
.sidebar {position:absolute; width:100px; top:0px; bottom:0px; float:left; }
.channel_area {position:absolute; left:100px; right:0px; top:0px; bottom:0px; float:left; }

.channel_header {position:absolute; top:0px; width:100%; height:48px; }
.channel_contents {position:absolute; top:48px; width:100%; bottom:0px; }

.session_list {position:absolute; width:200px;  top:0px; bottom:0px; float:left; overflow-y:scroll; }
.session_area {position:absolute; left:200px; right:0px; top:0px; bottom:0px; float:left; }

/*.session_header {position:absolute; top:0px; left:0px; right:0px;  height:50px; }*/
.session_content {position:absolute; top:0px; bottom:34px; left:0px; right:0px; overflow-y:scroll;}
.session_footer {position:absolute; bottom:0px; left:0px; right:0px;  height:34px; }



.channel_header {
	background: black;
}

.footer {	
	height: 1px;
}

.chat_cell {
	width: 100%;	
}

.sidebar1 {
	width: 100px;
	background: #BD4932;
}

.sidebar2 {
	width: 200px;

}

.talks_area {
	width: 100%;
	height: 100%;
	overflow: auto;
}


.a {
	background: red;

}

html, body { height: 100%; }
