/*body {*/
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
/*}*/

/*a {*/
  /*color: #00B7FF;*/
/*}*/

#chatMessages
{
    margin-top:60px;
    margin-bottom:60px
}

nav.navbar.navbar-default.navbar-fixed-bottom
{
    min-height: 0px
}

/* Bit of normalisation */

/*body {*/
    /*background-color: #eee;*/
    /*color: #222;*/
    /*font: 0.8125em/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
/*}*/

/*img {*/
    /*display: block;*/
    /*height: auto;*/
    /*max-width: 100%;*/
/*}*/


/* .bubble */

.bubble {
    background: rgb(229, 229, 234);

    /* vendor rules */
    border-radius: 20px;
    /* vendor rules */
    /*box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.2);*/
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    /* vendor rules */
    box-sizing: border-box;
    clear: both;
    float: left;
    margin-bottom: 20px;
    padding: 8px 30px;
    position: relative;
    /*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);*/
    width: auto;
    max-width: 100%;
    word-wrap: break-word;
}

/*.bubble:before, .bubble:after {*/
/*border-radius: 20px / 10px;*/
/*content: '';*/
/*display: block;*/
/*position: absolute;*/
/*}*/

/*.bubble:before {*/
/*border: 10px solid transparent;*/
/*border-bottom-color: rgba(0, 0, 0, 0.5);*/
/*bottom: 0;*/
/*left: -7px;*/
/*z-index: -2;*/
/*}*/

/*.bubble:after {*/
/*border: 8px solid transparent;*/
/*border-bottom-color: #d2f4fe;*/
/*bottom: 1px;*/
/*left: -5px;*/
/*}*/

.bubble--alt {
    background: rgb(49, 201, 32);
    color: white;
    float: right;
}

/*.bubble--alt:before {*/
/*border-bottom-color: rgba(0, 0, 0, 0.5);*/
/*border-radius: 20px / 10px;*/
/*left: auto;*/
/*right: -7px;*/
/*}*/

/*.bubble--alt:after {*/
/*border-bottom-color: #ace44b;*/
/*border-radius: 20px / 10px;*/
/*left: auto;*/
/*right: -5px;*/
/*}*/
.sender{ position:relative; padding-left:60px;}
.sender--alt{ padding-left:0px;}
.sender:after{ content:''; display:block;clear: both;}
.sender_img{position: absolute; left:0; top:0; width: 50px; }
.sender_content{}
.sender_name{display:block;}
.sender_time{ display:block; font-size:11px;}
.sender_time--alt{float: right;}