
.page_wrap { width:100%; height:100%; }

/* layout table */
.layout_table { display:table; width:100%; height:100%; min-height:100%; }
.layout_table-cell_vertical-middle { display:table-cell; vertical-align:middle; }

/* margin top */
.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }

/* max */
.width-max {width:100%;}
.height-max {height:100%;}

/* text */
.text-align-center { text-align: center; }

/* chat layout */
.sidebar {position:absolute; width:100px; top:0px; bottom:0px; float:left; }
.channel_area {position:absolute; left:100px; right:0px; top:0px; bottom:0px; float:left; }

.channel_header {position:absolute; top:0px; width:100%; height:48px; }
.channel_contents {position:absolute; top:48px; width:100%; bottom:0px; }

.main_menu {position:absolute; width:250px;  top:0px; bottom:0px; float:left; border-right:1px solid #E4E4E4; }
.main_content {position:absolute; left:250px; right:0px; top:0px; bottom:0px; float:left; }

/* sessionList */
.session_list_header {position:absolute; top:0px; left:0px; right:0px;  height:49px; background: #FFFFFF; border-bottom:1px solid #E4E4E4; }
.session_list_content {position:absolute; top:49px; bottom:40px; left:0px; right:0px; background: #FFFFFF; border-bottom:1px solid #E4E4E4; overflow-y:auto; }
.session_list_footer {position:absolute; bottom:0px; left:0px; right:0px;  height:40px; background: #FFFFFF; }

/* session */
.session_header {position:absolute; top:0px; left:0px; right:0px;  height:49px; border-bottom:1px solid #E4E4E4; background: #FFFFFF;}
.session_content {position:absolute; top:49px; bottom:34px; left:0px; right:0px; overflow-y:scroll;}
.session_footer {position:absolute; bottom:0px; left:0px; right:0px;  height:34px; }

/* setting */
.setting_header {position:absolute; top:0px; left:0px; right:0px;  height:49px; border-bottom:1px solid #E4E4E4; background: #FFFFFF;}
.setting_content {position:absolute; top:49px; bottom:0px; left:0px; right:0px; overflow-y:auto;}


.channel_header {
	background: black;
}

.footer {	
	height: 1px;
}

.chat_cell {
	width: 100%;	
}

.sidebar1 {
	width: 100px;
	background: #BD4932;
}

.sidebar2 {
	width: 200px;

}

.talks_area {
	width: 100%;
	height: 100%;
	overflow: auto;
}


.a {
	background: red;

}

html, body { height: 100%; }

.ngdialog.login_dialog .ngdialog-content { width: 550px;  }

/* bootstrap custom */
.nav-justified-custom > li
{
	float:none;
	display:table-cell;
	width:1%;
	text-align:center;
}
 
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

 /* animation */
 /* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

/* now the element will fade out before it is removed from the DOM */
.fade.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.fade.ng-leave.ng-leave-active {
  opacity:0;
}
