<div class="row">
	<div class="col-xs-12">
		<div class="input-group">
			
			<input type="text" class="form-control input-lg" placeholder="Enter username">
			<span class="input-group-btn">
				<button class="btn btn-danger btn-lg" type="button" ng-click="noAccount()">No Account</button>
				<button class="btn btn-warning btn-lg" type="button" ng-click="openSignIn()">Sign in</button>
				<button class="btn btn-success btn-lg" type="button" ng-click="openSignUp()">Sign up</button>
			</span>			
		</div>
	</div>
</div>