<div class="setting_header">
	<div class="container-fluid height-max">
		<div class="row height-max">
			<div class="col-xs-3 height-max">
				<div class="layout_table">
					<div class="layout_table-cell_vertical-middle">
						<a ng-href="#/main/chats/session/{{routeParam}}"><span class="glyphicon glyphicon-chevron-left"></span></a>
						<!-- <button class="btn btn-default" ng-click="focusLeft()"><span class="glyphicon glyphicon-chevron-left"></span>&nbspBack</button> -->
					</div>
				</div>
			</div>
			<div class="col-xs-6 height-max margin-top-03">
				<h4 class="text-align-center overflow_text_hide">{{session.name}}</h4>
			</div>
			<div class="col-xs-3 height-max">
				
			</div>
		</div>
	</div>
</div>
<div class="setting_content">
    <div class="container-fluid margin-top-15">        
        <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                <h4>{{session.users.length}} Users</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                <div class="list-group">
                    <a ng-class="['list-group-item']" ng-repeat="user in session.users">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="list-group-item-heading">{{user.name}}</h4>                                                             
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <p class="list-group-item-text">id: {{user.id}}</p>
                            </div>
                            <div class="col-xs-6">
                                <span ng-if="user.role=='guest'" class="label label-success pull-right">Guest</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row margin-top-15">

        </div>
    </div>
</div>
