<div class="row">

	<div class="col-xs-12">
		<div class="input-group">
			<span class="input-group-btn">
				<button type="button" class="btn btn-default btn-lg" ng-click="close()">
				  <span class="glyphicon glyphicon-remove" ></span>
				</button>
			</span>
			<div ng-class="['has-feedback', {success:'has-success', warning:'has-warning', error:'has-error'}[userNameValidationStatus]]">
				<input type="text" class="form-control input-lg" placeholder="Set Username ( current: {{currentUserName}} )" ng-model="userName" ng-change="userNameChanged()" autofocus required>
				<span ng-if="userNameValidationStatus" ng-class="['glyphicon', 'form-control-feedback', {success:' glyphicon-ok', warning:'glyphicon-warning-sign', error:'glyphicon-remove'}[userNameValidationStatus]]" aria-hidden="true"></span>
			</div>
			
			<span class="input-group-btn">				
				<button class="btn btn-success btn-lg" type="button" ng-click="setUsername()" ng-disabled="userNameValidationStatus!='success'">Set</button>
			</span>
		</div>
	</div>
</div>