<div class="layout_table">
	<div class="layout_table-cell_vertical-middle">
		<div class="container-fluid">

			<!-- for Desktop -->
			<div class="row hidden-xs">
				<div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
					<div class="row">
						<h1>Sign up</h1>
						<img class="img-circle avatar-md" ng-src="{{avatarUrl || '/image/avatar-blank.jpg'}}" />
						<button type="button" class="btn btn-success" ng-click="chageAvatarUrlRandom()">Change avatar</button>
					</div>
					<div class="row">
						<div class="input-group">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default btn-lg" ng-click="goBack()">
								  <span class="glyphicon glyphicon-chevron-left" ></span>
								</button>
							</span>
							<div ng-class="['has-feedback', {success:'has-success', warning:'has-warning', error:'has-error'}[userIdValidationStatus]]">
								<input type="text" class="form-control input-lg" placeholder="Create User ID" ng-model="userId" ng-change="userIdChanged()" focus-on="init" on-enter="signUp()" required>
								<span ng-if="userIdValidationStatus" ng-class="['glyphicon', 'form-control-feedback', {success:' glyphicon-ok', warning:'glyphicon-warning-sign', error:'glyphicon-remove'}[userIdValidationStatus]]" aria-hidden="true"></span>
							</div>
							<span class="input-group-btn" style="width:0px;"></span>
							<div ng-class="['has-feedback', {success:'has-success', warning:'has-warning', error:'has-error'}[passwordValidationStatus]]">
								<input type="password" class="form-control input-lg" placeholder="and Password" ng-model="password" ng-change="passwordChanged()" on-enter="signUp()" required>
								<span ng-if="passwordValidationStatus" ng-class="['glyphicon', 'form-control-feedback', {success:' glyphicon-ok', warning:'glyphicon-warning-sign', error:'glyphicon-remove'}[passwordValidationStatus]]" aria-hidden="true"></span>
							</div>
							<span class="input-group-btn">
								<button class="btn btn-success btn-lg" type="button" ng-click="signUp()" ng-disabled="userIdValidationStatus!='success'||passwordValidationStatus!='success'">Sign up</button>
							</span>
						</div>
					</div>
					<div class="row">
						<h1>&nbsp</h1>
					</div>
				</div>
			</div>


			<!-- for Mobile -->
			<div class="row hidden-lg hidden-md hidden-sm">
				<div class="col-xs-offset-1 col-xs-10">
					<h2>Sign up</h2>
				</div>
			</div>
			<div class="row hidden-lg hidden-md hidden-sm">
				<div class="col-xs-offset-1 col-xs-10">
					<div ng-class="['has-feedback', {success:'has-success', warning:'has-warning', error:'has-error'}[userIdValidationStatus]]">
						<input type="text" class="form-control input-md" placeholder="Create User ID" ng-model="userId" ng-change="userIdChanged()" focus-on="init" on-enter="signUp()" required>
						<span ng-if="userIdValidationStatus" ng-class="['glyphicon', 'form-control-feedback', {success:' glyphicon-ok', warning:'glyphicon-warning-sign', error:'glyphicon-remove'}[userIdValidationStatus]]" aria-hidden="true"></span>
					</div>
				</div>
			</div>
			<div class="row hidden-lg hidden-md hidden-sm margin-top-05">
				<div class="col-xs-offset-1 col-xs-10">
					<div ng-class="['has-feedback', {success:'has-success', warning:'has-warning', error:'has-error'}[passwordValidationStatus]]">
						<input type="password" class="form-control input-md" placeholder="and Password" ng-model="password" ng-change="passwordChanged()" on-enter="signUp()" required>
						<span ng-if="passwordValidationStatus" ng-class="['glyphicon', 'form-control-feedback', {success:' glyphicon-ok', warning:'glyphicon-warning-sign', error:'glyphicon-remove'}[passwordValidationStatus]]" aria-hidden="true"></span>
					</div>
				</div>
			</div>
			<div class="row hidden-lg hidden-md hidden-sm margin-top-10">
				<div class="col-xs-offset-1 col-xs-10">
					<button class="btn btn-success btn-md pull-right" type="button" ng-click="signUp()" ng-disabled="userIdValidationStatus!='success'||passwordValidationStatus!='success'">Sign up</button>
				</div>
			</div>
			<div class="row hidden-lg hidden-md hidden-sm">
				<div class="col-xs-offset-1 col-xs-10">
					<h2>&nbsp</h2>
				</div>
			</div>
		</div>
	</div>
</div>
