{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": { "syntax": "typescript", "decorators": false },
    "target": "es2022",
    "transform": {}
  },
  "module": { "type": "commonjs" },
  "sourceMaps": true
}
